html,
body {
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

* {
    box-sizing: border-box;
}

:root {
    --cell-border-color: #303030;
    --cell-bg-color: #d5e4e5;
}

/** TABLE SECTION **/
.table h1 {
    color: #4183c4;
    position: fixed;
    background-color: #fff;
    right: 15px;
    top: 0;
    z-index: 1000;
    margin: 0;
}

.table .tabs {
    display: flex;
    position: fixed;
    padding: 5px;
    bottom: 0;
    align-items: center;
    width: 100%;
    z-index: 1001;
    gap: 10px;
    background-color: #eee;
}

.table .tabs a {
    padding: 6px 12px;
    background: #e0e0e0;
    border-radius: 6px;
    transition: background 0.2s;
}

.table .tabs a:hover,
.table .tabs a.active {
    background-color: #2cb1b6;
    color: #fff;
}


/** AUTH SECTION **/
.auth {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.auth .form-content {
    display: flex;
    flex-direction: column;
    min-width: 480px;
    max-width: 100%;
    padding: 25px;
    background: var(--white);
    text-align: center;
    border-radius: 15px;
    -webkit-box-shadow: 0 4px 6px 0 rgba(85, 85, 85, 0.1), 0 1px 20px 0 rgba(0, 0, 0, 0.08), 0px 1px 11px 0px rgba(0, 0, 0, 0.06);
    box-shadow: 0 4px 6px 0 rgba(85, 85, 85, 0.1), 0 1px 20px 0 rgba(0, 0, 0, 0.08), 0px 1px 11px 0px rgba(0, 0, 0, 0.06);
}

.auth h1 {
    margin-bottom: 0;
}

.auth .form-content>p {
    font-size: 13px;
    color: var(--gray);
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 1rem;
}

.auth .field-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 5px;
    border-bottom: none;
    position: relative;
}

.auth .field-wrapper label {
    font-size: 10px;
    font-weight: 700;
    margin-bottom: 8px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.auth .field-wrapper input {
    font-weight: 600;
    font-size: 16px;
    padding: 5px 8px;
    width: 100%;
    border: 1px solid #bfc9d4;
    font-size: 15px;
    min-height: 44px;
    border-radius: 3px;
}

.auth .field-wrapper button {
    align-self: center;
    width: 100%;
    padding: 11px 14px;
    font-size: 16px;
    letter-spacing: 2px;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid;
}