html,
body {
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

* {
    box-sizing: border-box;
}

:root {
    --cell-border-color: #303030;
    --cell-bg-color: #d5e4e5;
}

/** TABLE SECTION **/
.table h1 {
    color: #4183c4;
    position: fixed;
    background-color: #fff;
    right: 15px;
    top: 0;
    z-index: 1000;
    margin: 0;
}

.table .tabs {
    display: flex;
    position: fixed;
    padding: 5px;
    bottom: 0;
    align-items: center;
    width: 100%;
    z-index: 1001;
    gap: 10px;
    background-color: #eee;
}

.table .tabs a {
    padding: 6px 12px;
    background: #e0e0e0;
    border-radius: 6px;
    transition: background 0.2s;
}

.table .tabs a:hover,
.table .tabs a.active {
    background-color: #2cb1b6;
    color: #fff;
}